// @import "variables";

.logo {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  width: 200px;

  .title {
    color: #fff;
    margin: 0;
  }
}

.innerLayout {
  height: 100vh;
}

.contentContainer {
  background: #fff;
  padding: 24px;
  height: calc(100% - 70px); // Remove the footer height
}
